.shadow {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}

.splashPage1 {
  background: url(./apartment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-width:2px;
  border-bottom-style:solid;
  height: 400px;
  width: 100%;
  padding-top: 280px;
  z-index: 300px;

}

.splashPage2 {
  background: url(./splash2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.logo {
  background-color: white;
  border: solid;
  border-width: 2px;
  height: 250px;
  width: 250px;
  border-radius: 0px;
  margin-left: 40%;
  margin-right: 49%;
  position: absolute;
}

.centerLogo{
  margin-left: 9%;
  margin-right: 12%;
  padding-top: 55px;
}

.enterButton{
  margin-left: 32%;
  margin-right: 32%;
  padding-top: 20px;
}

.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dashboard{
  margin: 0;
  padding: 0;
}

.pnlPage{
margin: 150px 300px 200px 300px;

}

.editProp{
  margin: 10px;
}
